

.container-exam{
    width: max-content;
    height: fit-content;
    text-align: center;
    box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 1px 4px rgba(0, 0, 0, .25);
    border-radius: 15px;
    padding: 10px 40px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
button {
    outline: none;
    border: none;
    background-color: brown;
    color: white;
    font-weight: 600;
    padding: 6px;
    cursor: pointer;
}
button:hover{
    border: none;
    background-color: rgb(216, 153, 153);
    color: white;
    font-weight: 600;
    padding: 6px;
    cursor: pointer;
}